@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: #0a0a0c;
    --fg-color: #f2f2f9;
    --white85: #f2f2f9d9;
    --white60: #f2f2f999;
    --white40: #f2f2f966;
    --white20: #f2f2f933;
    --accent-color: #7400e9;
    --danger: #e63434;
    scrollbar-width: thin;
    scrollbar-color: var(--white40) var(--white20);
  }

  :focus {
    @apply outline-none;
  }

  ::selection {
    @apply bg-accent/40 text-white;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    background: var(--white20);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--white40);
    border-radius: 20px;
    border: 4px solid transparent;
  }

  html,
  body {
    @apply w-screen h-full min-h-screen;
    min-height: -webkit-fill-available !important;
  }

  body {
    @apply font-sans bg-black text-white overflow-x-hidden;
    -webkit-tap-highlight-color: transparent;
  }

  pre,
  code {
    @apply font-mono;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 125%;
  }

  p {
    line-height: 150%;
  }
}

#__next {
  height: 100%;
}

.ch-codegroup {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
