@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-black: #0a0a0c;
    --color-black85: #0a0a0cd9;
    --color-black60: #0a0a0c99;
    --color-black40: #0a0a0c66;
    --color-black20: #0a0a0c33;
    --color-white: #f2f2f9;
    --color-white85: #f2f2f9d9;
    --color-white60: #f2f2f999;
    --color-white40: #f2f2f966;
    --color-white20: #f2f2f933;
    --color-accent: #5454f1;
    --color-accent60: #5454f199;
    --color-accent40: #5454f166;
    --color-accent20: #5454f133;
    --color-danger: #e63434;
    scrollbar-width: thin;
    scrollbar-color: var(--color-white40) var(--color-white20);
  }

  :focus {
    @apply outline-none;
  }

  ::selection {
    @apply bg-accent40 text-white;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-white20);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-white40);
    border-radius: 20px;
    border: 4px solid transparent;
  }

  html,
  body {
    @apply w-screen h-full min-h-screen;
    min-height: -webkit-fill-available !important;
  }

  body {
    @apply bg-black text-white overflow-x-hidden;
    -webkit-tap-highlight-color: transparent;
  }

  pre,
  code {
    @apply font-mono;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 125%;
  }

  p {
    line-height: 150%;
  }
}

#__next {
  height: 100%;
}

.ch-codegroup {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  @apply font-mono;
}
