@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-dark-rgb-val: 10 10 12;
    --color-light-rgb-val: 242 242 249;
    --color-purple-accent-rgb-val: 92 92 240;
    --color-pink-accent-rgb-val: 233 70 138;
    scrollbar-width: thin;
  }
}

:focus {
  @apply outline-none outline-transparent;
}

::selection {
  @apply bg-purple-accent/20 text-purple-accent;
}

::-webkit-scrollbar {
  width: 2px;
}

body {
  @apply bg-light dark:bg-dark text-dark dark:text-light overflow-x-hidden;
  -webkit-tap-highlight-color: transparent;
}

p {
  @apply text-opacity-80;
}

.safe-h-screen {
  height: calc(
    100vh - env(safe-area-inset-bottom, 0)- env(safe-area-inset-top, 0)
  );
  height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  .safe-h-screen {
    height: -webkit-fill-available;
  }
}

svg,
path {
  @apply stroke-dark dark:stroke-light fill-none;
}
