@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-dark-rgb-val: 10 10 12;
    --color-light-rgb-val: 242 242 249;
    --color-dark: rgb(10, 10, 12);
    --color-light: rgb(242, 242, 249);
  }
}

p {
  @apply text-dark/80 dark:text-light/80;
}

.safe-h-screen {
  height: calc(
    100vh - env(safe-area-inset-bottom, 0)- env(safe-area-inset-top, 0)
  );
  height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  .safe-h-screen {
    height: -webkit-fill-available;
  }
}
