@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-black: #0a0a0c;
    --color-black85: #0a0a0cd9;
    --color-black60: #0a0a0c99;
    --color-black40: #0a0a0c66;
    --color-black20: #0a0a0c33;
    --color-white: #f2f2f9;
    --color-white85: #f2f2f9d9;
    --color-white60: #f2f2f999;
    --color-white40: #f2f2f966;
    --color-white20: #f2f2f933;
    --color-white04: #f1f1f905;
    --color-accent: #8282f7;
    --color-accent60: #8282f799;
    --color-accent40: #8282f766;
    --color-accent20: #8282f733;
    --color-danger: #e63434;
    scrollbar-width: thin;
    scrollbar-color: var(--color-white40) var(--color-white20);
  }

  :focus {
    @apply outline-none;
  }

  ::selection {
    @apply bg-accent40 text-white;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-white20);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-white40);
    border-radius: 20px;
    border: 4px solid transparent;
  }

  button,
  a,
  input {
    @apply outline-none;
  }
}

html,
body {
  height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  -webkit-tap-highlight-color: transparent;
}

#__next {
  height: 100%;
}

code,
pre {
  @apply font-mono;
}
